*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
 background-color: #E3F2FD;
}

.atividades {
    width: 50%; /* Reduz a largura */
    margin: 100px auto; /* Centraliza horizontalmente */
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.atividades h1{
  margin-bottom: 30px; /* Espaçamento maior abaixo do título "Atividades" */
  font-size: 35px; /* Aumentando um pouco o tamanho do título */
  text-align: center;
}

.conteudo-item {
  text-align: left;
  margin-bottom: 60px;
  padding-left: 140px; /* espaço para a imagem à esquerda */
  position: relative;
}

.imagem-esquerda {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: auto;
  border-radius: 8px; /* opcional */
}

.ver-mais{
 border-radius: 10px;
 padding-left: 5px;
 padding-right: 5px;
 background-color: #FFBBBB;
}

.conteudo-item h3 {
  display: inline-block;
  margin-right: 10px;
}

.conteudo-item .ver-mais {
  display: inline-block;
}

.conteudo-item p {
  margin: 7px 0;
  font-size: 15px; /* texto um pouco maior */
  color: #333;
  line-height: 1.5;
}



@media only screen and (max-width: 600px) {
.atividades {
  width: 90%; 
  margin: 50px auto; 
  padding: 15px;
}

.atividades h1 {
  margin-bottom: 30px; 
  font-size: 28px; 
}

.conteudo-item {
  position: relative; 
  padding-left: 140px; 
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px; 
  margin-bottom: 35px; 
}

.conteudo-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.imagem-esquerda {
  position: absolute;
  left: 10px;
  top: 5px;
  height: auto;
  width: 120px; /* imagem maior */
  border-radius: 8px;
  object-fit: cover;
}

.conteudo-item h3 {
  margin-top: 0;
  font-size: 18px; /* título maior */
  font-weight: bold;
  margin-bottom: 8px;
}

.conteudo-item .ver-mais {
  display: inline-block;
  background-color: #FFBBBB;
  border-radius: 10px;
  padding-left: 7px; /* espaçamento interno aumentado */
  padding-right: 7px;
  cursor: pointer;
  font-size: 13px; /* texto maior */
}

.conteudo-item p {
  margin: 7px 0;
  font-size: 15px; /* texto um pouco maior */
  color: #333;
  line-height: 1.5;
}
}


@media only screen and (max-width: 768px){}
